@import "bootstrap.less";


.cars{
    list-style: none;
    margin: 0;
    border: 1px solid white;

    .car{
        cursor: pointer;
        float: left;
        width: 250px;
        padding: 5px;
        transition:all 0.35s;
        position: relative;
        top: 0px;
        box-shadow: 0px 0px 5px rgba(0,0,0,0);
        border-radius: @thumbnail-border-radius;


        &:hover{
            box-shadow: 0px 5px 5px rgba(0,0,0,0.5);
            top: -5px;
        }

        .thumbnail{
        }
    }

    img{
        vertical-align: middle;
        display: block;
        width: 100%;
    }

    .model, .year, .ncomments{
        display: block;
    }

    .model{
    }

    .year{
    }

    .ncomments{
    }
}


.home-jumbo{
}

.navbar-upload{
}

.container .jumbotron.car-jumbo{
    padding: 20px;

    img{
        width: 100%;
    }
}

.comments{
    margin: 0;
    padding: 0;
    list-style: none;

    .person{
        font-weight: bold;
        font-style: italic;
    }
    .comment{
        padding: 5px 20px;
        list-style: none;
        margin-bottom: 0.5em;

        blockquote{
            position: relative;
        }
    }
}

.comment-delete{
    position: absolute;
    top: 0;
    left: -10px;
    background: white;
    min-height: 20px;
    min-width: 20px;
    border-radius: 10px;
    line-height: 20px;

    &:hover:after{
        content:'Delete comment';
        text-decoration: none;
    }
}